.search-bar {
    
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  /* max-width: 1340px; */
  height: 100%;
  margin: 10px auto;
  background-image: url(https://images.apollo247.in/images/ui_revamp_searchBanner1.svg), url(https://images.apollo247.in/images/ui_revamp_searchBanner2.svg);
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  background-color: #162c2a;

  
}
.list
{
  border-radius: 30px;
}

.search-input {
  padding: 8px;
  margin-right: 10px; 
  font-size: 16px; 
  border-radius: 35px;
  border: 0px ;
  margin: 0px;
  background-color: aliceblue;
}



.search-button {

  padding: 13px 9px; 
  font-size: 16px; 
  border-radius: 10px;
  border: 0px;
  color:green;
}
.abi{
  border-radius: 20px;
  border: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
}


.MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-sizeSmall MuiInputBase-adornedStart MuiInputBase-adornedEnd css-2ehmn7-MuiInputBase-root-MuiOutlinedInput-root
{
  border: none;
  background-color:grey;
  border-radius: 30px;
}
